<div class="row dash-row">
  <div class="col-xl-4">
    <div class="stats stats-primary">
      <h3 class="stats-title"> Última semana </h3>
      <div class="stats-content">
        <div class="stats-icon">
          <i class="fas fa-plus-circle"></i>
        </div>
        <div class="stats-data">
          <div class="stats-number">114</div>
          <div class="stats-change">
            <span class="stats-percentage">+25%</span>
            <span class="stats-timeframe"> de la semana pasada.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="stats stats-success ">
      <h3 class="stats-title"> Total ventas mes</h3>
      <div class="stats-content">
        <div class="stats-icon">
          <i class="fas fa-cart-arrow-down"></i>
        </div>
        <div class="stats-data">
          <div class="stats-number">2,541 €</div>
          <div class="stats-change">
            <span class="stats-percentage">-17.5%</span>
            <span class="stats-timeframe"> del mes pasado.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="stats stats-warning">
      <h3 class="stats-title"> Vistas </h3>
      <div class="stats-content">
        <div class="stats-icon">
          <i class="fas fa-hand-pointer"></i>
        </div>
        <div class="stats-data">
          <div class="stats-number">12,925</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card spur-card">
      <div class="card-header">
        <div class="spur-card-icon">
          <i class="fas fa-bell"></i>
        </div>
        <div class="spur-card-title"> Últimas subidas </div>
      </div>
      <div class="card-body ">
        <div class="notifications">
          <a href="#!" class="notification">
            <div class="notification-icon">
              <i class="fas fa-inbox"></i>
            </div>
            <div class="notification-text">BPRO — 229€</div>
            <span class="notification-time">HOY</span>
          </a>
          <a href="#!" class="notification">
            <div class="notification-icon">
              <i class="fas fa-inbox"></i>
            </div>
            <div class="notification-text">Canondale — 1,100€ </div>
            <span class="notification-time">Hace 3 días</span>
          </a>
          <a href="#!" class="notification">
            <div class="notification-icon">
              <i class="fas fa-inbox"></i>
            </div>
            <div class="notification-text">BMX — 75€</div>
            <span class="notification-time">Hace 3 días</span>
          </a>
          <div class="notifications-show-all">
            <a href="#!">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
