<div class="container">
  <h1 class="dash-title">Añadir bicicleta</h1>
  <div class="row">
    <div class="col-xl-12">
      <div class="card spur-card">
        <div class="card-header">
          <div class="spur-card-icon">
            <i class="fas fa-plus"></i>
          </div>
          <div class="spur-card-title"> Rellena los siguientes datos para añadir
            una nueva bicicleta </div>
        </div>
        <div class="card-body ">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-row">
              <div class="form-group col-sm-4">
                <label for="productId">Producto *</label>
                <input formControlName="productId" appAutofocus type="string" class="form-control" id="productId"
                       aria-describedby="emailHelp"
                       placeholder="Ejemplo: E199012-0" required>
              </div>

              <div class="form-group col-sm-4">
                <label for="price">P.V.P *</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">€</span>
                  </div>
                  <input formControlName="price" type="number" class="form-control" id="price"
                         placeholder="Ejemplo: 99.75" required>
                </div>
                <!-- <small class="form-text text-muted">Precio de venta al público.</small> -->
              </div>

              <div class="form-group col-sm-4">
                <label for="productId">Estado *</label>
                <select formControlName="state" class="form-control" required>
                  <option value="usado">Usado</option>
                  <option value="buen estado">Buen estado</option>
                  <option value="perfecto estado">Perfecto estado</option>
                </select>
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col-sm-4">
                <label for="marca">Marca *</label>
                <input formControlName="brand" type="text" class="form-control" id="marca"
                       placeholder="Ejemplo: Cannondale" required>
              </div>

              <div class="form-group col-sm-8">
                <label for="modelo">Modelo o detalles <small>[ Opcional ]</small> </label>
                <input formControlName="details" type="text" class="form-control" id="modelo"
                       placeholder="Ejemplo: X12F">
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col-sm-6">
                <label for="category">Categoría <small>[ Opcional ]</small> </label>
                <select formControlName="category" id="category" class="form-control">
                  <option value="" disabled selected hidden>Seleccione una opción</option>
                  <option value="carreras">Carreras</option>
                  <option value="carretera">Carretera</option>
                  <option value="montaña">Montaña</option>
                  <option value="niño">Niño</option>
                  <option value="paseo">Paseo</option>
                  <option value="plegable">Plegable</option>
                </select>
              </div>

              <div class="form-group col-sm-6">
                <label for="size">Talla <small>[ Opcional ]</small> </label>
                <select formControlName="size" id="size" class="form-control">
                  <option value="" disabled selected hidden>Seleccione una opción</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                </select>
              </div>

            </div>

            <hr>

            <!-- FILE UPLOAD -->
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input id="imagen"
                       #fileInput
                       (change)="onFileChanged($event)"
                       type="file"
                       class="form-control-file"
                       accept=".jpg,.gif,.png">
                <!-- <button (click)="fileInput.click()" type="button" class="btn btn-outline-danger">
                  <i class="fas fa-upload mr-2"></i>
                  Subir imagen
                </button> -->
                <small class="form-text text-muted">Solo imagenes (.jpg, .jpeg, .gif, .png.), se recomienda
                  un formato de 16:9 (1920x1080)</small>
              </div>
            </div>

            <hr>

            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Añadir</button>
            <a routerLink="/admin/bicicletas" class="btn btn-outline-primary ml-2">Volver</a>


            <small class="form-text text-muted">- Puede presionar <b>ENTER</b> en cualquier momento para
              guardar.</small>
            <small class="form-text text-muted">- Puede presionar <b>ESCAPE</b> en cualquier momento para salir.</small>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
