# development.env
##############
#  IMPORTANT !!! APPLICATION DEFAULT SERVER
##############
BIKES=development
HOST=192.168.0.25
PORT=80

##############
#  APPLICATION DEFAULT SETTINGS
##############
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_EMAIL=ruslanguns@gmail.com

##############
#  DATABASE SETTINGS
##############
DB_HOST=mongodb
DB_NAME=bikes
DB_PORT=27017
DB_USERNAME=cash
DB_PASSWORD=123
DB_AUTH_SOURCE=admin

##############
#  JWT SECRET
##############
JWT_SECRET=StrongSecretKeyForJWT

##############
#  SMTP SETUP
##############
SMTP_DOMAIN=mail-01.wificloud.es
SMTP_PORT=25
SMTP_SECURE=false
SMTP_USERNAME=marketing
SMTP_PASSWORD=asdf2017.!
EMAIL_DEFAULT_FROM_NAME=Bikes Showcase
EMAIL_DEFAULT_FROM_EMAIL=marketing@mail-01.wificloud.es
