##############
#  APPLICATION DEFAULT SETTINGS
##############
DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_EMAIL=

##############
#  DATABASE SETTINGS
##############
DB_HOST=
DB_NAME=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_AUTH_SOURCE=

##############
#  JWT SECRET
##############
JWT_SECRET=

##############
#  SMTP SETUP
##############
SMTP_DOMAIN=
SMTP_PORT=
SMTP_SECURE=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_DEFAULT_FROM_NAME=
EMAIL_DEFAULT_FROM_EMAIL=
