# development.env
##############
#  IMPORTANT !!! APPLICATION DEFAULT SERVER
##############
HOST=
PORT=

##############
#  APPLICATION DEFAULT SETTINGS
##############
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_EMAIL=ruslanguns@gmail.com

##############
#  DATABASE SETTINGS
##############
DB_HOST=mongodb
DB_NAME=bikes
DB_PORT=27017
DB_USERNAME=cash
DB_PASSWORD=123
DB_AUTH_SOURCE=admin

##############
#  JWT SECRET
##############
JWT_SECRET=StrongSecretKeyForJWT

##############
#  SMTP SETUP
##############
SMTP_DOMAIN=
SMTP_PORT=
SMTP_SECURE=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_DEFAULT_FROM_NAME=
EMAIL_DEFAULT_FROM_EMAIL=
