
.frame {
  min-height: 100vh !important;    /* equals max image height */
  max-height: 100vh !important;    /* equals max image height */
  width: auto!important;
  width: auto;
  /* border: 1px solid red !important; */
  white-space: nowrap !important;
  margin: auto !important;
}

.helper {
  display: inline-block !important;
  height: 100% !important;
  vertical-align: middle !important;
  margin-left: auto;
  margin-right: auto;
}

.image-slider {
  position: absolute;
  min-height: 100vh;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center {
  line-height: 100vh;
  min-height: 100vh;
  text-align: center;
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
