<div class="col-8 col-md-4 col-lg-3 header">
  <img src="https://cashconverters.es/content/themes/cash-converters/images/logo.png" width="100%" alt="logo"
       class="img-fluid">
</div>
<div *ngIf="isBrowser">
  <swiper class="swiper-container" [config]="config" #bikes_swipper>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let bike of data">

        <div class="bike-info">
          <div class="card text-center">
            <div class="card-header">
              <div class="text-center">
                <h2>
                  <small class="pvp">PVP </small>
                  <strong>{{ bike.price | currency:'EUR'}}</strong>
                </h2>
              </div>
            </div>
            <div class="card-body text-left">
              <h5 class="card-title">Detalles:</h5>
              <p class="card-text text-left">
                Marca: <strong> {{ bike.brand | uppercase }} </strong> <br>
                Estilo: <strong> {{ bike.category | titlecase }} </strong> <br>
                Estado: <strong> {{ bike.state | titlecase }}</strong> <br>
                Talla: <strong> {{ bike.size | uppercase }} </strong> <br>
              </p>
            </div>
            <div class="card-footer text-muted">
              <strong>{{ bike.productId }}</strong>
            </div>
          </div>
        </div>

        <img data-src="{{ getImage(bike._id, bike.image.filename) }}" class="slide-img swiper-lazy">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

      </div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
</div>

<ng-template *ngIf="data === []">
  <div class="center">
    <p>No hay bicicletas para mostrar. Por favor contacte con un vendedor. Gracias por su comprensión</p>
  </div>
</ng-template>

<ng-template #incompatibleBrowser>
  <div class="center">
    <p>Cargando contenido.</p>
  </div>
</ng-template>
