<div class="container">
  <h1 class="dash-title">Cambio de contraseña</h1>
  <div class="row">
    <div class="col-xl-12">
      <div class="card spur-card">
        <div class="card-header">
          <div class="spur-card-icon">
            <i class="fas fa-edit"></i>
          </div>
          <div class="spur-card-title"> Formulario para cambio de contraseña </div>
        </div>
        <div class="card-body ">

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form">

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="currentPassword">Contraseña actual</label>
                  <input appAutofocus
                         type="password"
                         formControlName="currentPassword"
                         placeholder="Introduzca su contraseña actual"
                         class="form-control"
                         id="currentPassword"
                         required>
                  <small *ngIf="form.get('currentPassword').invalid && (form.get('password2').dirty || form.get('password2').touched)"
                         class="form-text text-danger">
                    <div *ngIf="form.get('currentPassword').errors.required">
                      Este campo es requerido"
                    </div>
                  </small>


                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="password">Nueva contraseña *</label>
                  <input type="password"
                         formControlName="password"
                         placeholder="Introduzca su nueva contraseña"
                         class="form-control"
                         id="password"
                         aria-describedby="emailHelp"
                         required>

                  <small *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched  || form.get('password2').touched)"
                         class="form-text text-danger">
                    <div *ngIf="form.get('password').errors.required">
                      Este campo es requerido
                    </div>
                    <div *ngIf="form.get('password').errors.minlength">
                      Debe tener como mínimo 4 caracteres.
                    </div>
                  </small>

                </div>

                <div class="form-group col-md-6">
                  <label for="password2">Confirmar contraseña *</label>
                  <input type="password"
                         formControlName="password2"
                         placeholder="Confirme su contraseña"
                         class="form-control"
                         id="password2"
                         aria-describedby="emailHelp"
                         required>

                  <small *ngIf="form.get('password2').invalid && (form.get('password2').dirty || form.get('password2').touched)"
                         class="text-danger">
                    <div *ngIf="form.get('password2').errors.required">
                      Este campo es requerido
                    </div>
                  </small>
                  <small *ngIf="form.errors?.mismatch && form.get('password2').dirty &&  form.get('password2').touched"
                         class="form-text text-danger">
                    Las contraseñas deben de se iguales
                  </small>

                </div>
              </div>
            </div>

            <hr>

            <div class="mb-3">
              <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i>
                Guardar
              </button>
            </div>

            <small class="form-text text-muted">
              - Puede presionar <b>ENTER</b> en cualquier momento para guardar.
            </small>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
