<div class="form-screen">
  <a [routerLink]="['login']" class="spur-logo animated wobble">
    <i class="fas fa-bicycle"></i>
    <span>Panel Bike Showcase</span>
  </a>

  <div class="card account-dialog">

    <div class="card-header bg-primary text-white">
      Inicio de sesión
    </div>

    <div class="card-body">

      <form [formGroup]="form" (ngSubmit)="formSubmitted()">
        <div class="form-group">
          <input appAutofocus
                 name="password"
                 type="password"
                 formControlName="password"
                 class="form-control"
                 placeholder="Escribe tu contraseña">
          <small class="form-text text-muted">En caso de olvido, <a routerLink="recuperar"
               class="pointer">recuperar</a></small>
        </div>

        <div class="account-dialog-actions">
          <button [disabled]="!form.valid"
                  type="submit"
                  class="btn btn-primary btn-block">
            Entrar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
