<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h1 class="dash-title">Bicicletas a la venta</h1>
    </div>
    <div>
      <a routerLink="vendidas"
         class="btn btn-outline-success">
        <i class="fas fa-cart-arrow-down mr-2"></i>
        Bicicletas Vendidas
      </a>
      <a routerLink="crear"
         class="btn btn-primary ml-2">
        <i class="fas fa-plus mr-2"></i>
        Agregar bicicleta
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card spur-card">
        <div class="card-header">
          <div class="spur-card-icon">
            <i class="fas fa-bicycle"></i>
          </div>
          <div class="spur-card-title">Lista de bicicletas</div>
        </div>
        <div class="card-body">
          <table class="table table-hover table-in-card">
            <thead>
              <tr>
                <th class="fitwidth" scope="col">Cod. Producto</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Última edición</th>
                <th scope="col">Fecha creación</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="bicicletas$ | async as bikes; else loading">
                <tr *ngFor="let bike of bikes">
                  <th class="align-middle" scope="row">
                    <i [routerLink]="['/admin', 'bicicletas', 'detalle', (bike._id || 'not-found')]"
                       class="cursor fas fa-eye mr-1"></i>
                    {{ bike.productId }}
                  </th>
                  <td class="align-middle fitwidth">{{ bike.brand | uppercase }}</td>
                  <td class="align-middle fitwidth">{{ bike.price | currency: 'EUR' }}</td>
                  <td class="align-middle fitwidth">{{ bike.state | titlecase }}</td>
                  <td class="align-middle fitwidth">{{ bike.updatedAt | date: 'short' }}</td>
                  <td class="align-middle fitwidth">{{ bike.createdAt | date: 'short' }}</td>
                  <td class="align-middle fitwidth">
                    <a (click)="markSold(bike._id)" href="javascript: void(0);" class="btn btn-success btn-sm">
                      <i class="fas fa-check"></i>
                    </a>
                    <a [routerLink]="['/admin', 'bicicletas', 'detalle', (bike._id || 'not-found')]"
                       class="btn btn-secondary btn-sm ml-2">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a (click)="deleteBike(bike._id)" href="javascript: void(0);" class="btn btn-danger btn-sm ml-2">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="!bikes.length">
                  <td colspan="7" class="text-center">No hay bicicletas para mostrar</td>
                </tr>
              </ng-container>
              <ng-template #loading>
                <tr>
                  <td colspan="7" class="text-center">Cargando...</td>
                </tr>
              </ng-template>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
