
@import url('https://fonts.googleapis.com/css?family=Arimo|Roboto&display=swap');
body {
  font-family: 'Arimo', sans-serif;
}

.dash-nav-item {
  color: #fff !important;
  cursor: pointer !important;
}

.dash-nav-dropdown-item {
  color: #fff !important;
  cursor: pointer !important;
}

/* UTILITIES */
.cursor {cursor: pointer; cursor: hand;}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

