
@import url('https://fonts.googleapis.com/css?family=Arimo|Roboto|Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */
.cursor {cursor: pointer; cursor: hand;}

/* th.fitwidth {
  width: 1px;
  white-space: nowrap;
}
td.fitwidth {
  width: 1px;
  white-space: nowrap;
} */

ng2-smart-table-pager {
  display: flex;
  justify-content: flex-end !important;
  margin: 20px;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.anchoFijo {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.negritas {
  font-weight: bold !important;
}

ng2-smart-table {
  font-size: 1.2em !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/** Typography */
.pvp {
  font-size: 0.5em;
}

.header img {
  position: absolute;
  display:block;
  width: 25%;
  margin: 2%;
  z-index: 3;
  float: left;
}

.bike-info {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  width: 250px;
  height: 300px;
  margin: 2%;
}
